/* Stili generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

:root{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* Stili wrapper_up */
#wrapper_up{
    height: calc(100vh - 70px);
    display: flex;
}

/* Stili sidebar */
#sidebar{
    width: 200px;
    height:100%;
    background-color: rgb(0, 0, 0);
    padding: 20px 20px 10px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#logo{
    background-image: url(../img/logo.svg);
    background-color: rgb(0, 0, 0);
    width: 150px;
    height: 50px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
#sidebar div{
    display: flex;
    flex-direction: column;
}
#sidebar a, hr, span{
    color: gray;
}
#nome{
    color: white;
}
#sidebar ul li{
    margin-top: 8px;
    margin-bottom: 8px;
} 
#sidebar ul:first-of-type{
    margin-bottom: 20px;
}
#sidebar h5{
    margin-top: -10px;
    margin-bottom: 10px;
}
#sidebar hr{
    margin: 5px 0 ;
}
#sidebar div ul:last-child{
    height: 230px;
    overflow-y: auto;
}
.icon{
    height: 24px;
    vertical-align: -5px;
    filter: invert(50%);
}
.fa-plus{
    color: black;
    border: 1px solid gray;
    background-color: gray;
    padding: 5px;
    margin-right: 5px;
}
#download{
    height: 18px;
}
#profile{
    filter: invert(0);
    border: 1px solid gray;
    border-radius: 50%;
    background-color: gray;
    margin-right: 5px;
}
.vl{
    border-left: 3px solid rgb(195, 255, 0);
    margin: -20px;
    position: absolute;
    top: 112px;
    height: 33px;
}





/* Stili main_player */
#main_player{
    flex-grow: 1;
    background-color: rgb(21, 20, 38);
    padding: 0 5px 0 20px;
    overflow-y: auto;
}
#main_player h3{
    margin: 20px 0 0 0;
}
.row_playlist{
    display: flex;
    flex-wrap: wrap;
}
.playlist{
    width: 130px;
    text-align: center;
    margin-right: 10px;
    position: relative;
}
.playlist img{
    width: 100%;
    margin-bottom: 5px;
    margin-top: 15px;
}
.sottotitolo{
    color: gray;
    margin: 5px
}
.circle{
    border-radius: 50%;
}
#play_hover{
    position: absolute;
    font-size: 40px;
    top: 15px;
    left: -10px;
    display: none;
    padding: 45px 45px;
}


/* Stili upgrade */
#upgrade{
    background-color: rgba(2, 0, 18, 0.6);
    height: 70px;
    text-align: right;
    padding-top: 24px;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 200px); 
}
#upgrade a{
    font-size: 12px;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 20px;
    padding: 7px 35px;
    margin-right: 20px;
}

/* Stili nav_bar */
#nav_bar{
    margin-top: 85px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
#nav_bar a{
    color: gray;
    font-weight: 800;
}
#nav_bar li{
    display: inline-block;
    margin: 0 8px 10px 8px;
    font-size: 12px;
}
#nav_bar hr{
    width: 28px;
    margin-left: 30%;
    color: rgb(195, 255, 0);
    border-top: 2px solid rgb(195, 255, 0);
}


/* Stili controller */
#controller{
    height: 75px;
    background-color: rgb(48, 48, 48);
    display: flex;
    align-items: center;
}
.control_cell{
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.control_cell:nth-child(1) .fa-regular, h6{
    color: gray;
}
.control_cell:nth-child(1) .fa-regular{
    margin: 0 7px 0 7px;
}
.control_cell:nth-child(1) div{
    margin-right: 30px;
}
.control_cell img{
    width: 50px;
    margin: 0 10px 0 10px;
}

.control_cell:nth-child(2){
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;
}
.control_cell:nth-child(2) div{
    display: flex;
    flex-direction: row;
}
.control_cell:nth-child(2) div:first-of-type{
    margin-bottom: 10px;
}
.control_cell:nth-child(2) hr{
    margin: 0 15px 0 15px;
    width: 30%;
}
.control_cell:nth-child(2) .fa-solid, .fa-regular{
    margin: 0 10px 0 10px;
    font-size: 15px;
}
.control_cell:nth-child(2) .fa-circle-play{
    font-size: 25px;
}
.control_cell:nth-child(2) span{
    font-size: 10px;
    font-weight: bold;
}
.white{
    color: white;
}
.control_cell:nth-child(3) .fa-solid{
    margin: 0 10px 0 10px;
    font-size: 14px;
}
.control_cell:nth-child(3) hr{
    width: 110px;
    margin-right: 10px;
    border-top: 2.5px solid gray;
    border-radius: 5%;
}

/* Hover */
#sidebar a:hover, #main_player a:hover, span:hover, .icon:hover {
    color: white;
    filter: invert(0);
}
.control_cell:nth-child(1) .fa-regular:hover{
    color: white;
}
.control_cell:nth-child(1) h6:hover{
    color: white;
    text-decoration: underline;
}
.fa-plus:hover{
    background-color: white;
}
.playlist:hover #play_hover{
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
}
.playlist:hover{
    cursor: pointer;
}
#upgrade a:hover{
    font-size: 15px;
}
.control_cell:nth-child(2) .fa-circle-play:hover{
    font-size: 30px;
}


/* Media query */
@media all and (max-width:505px) {
    #sidebar{
        width: 50px;
        padding: 10px 10px 5px 10px;
    } 
    #logo{
        background-image: url(../img/logo-small.svg);
        width: 25px;
        height: 25px;

    }
    #sidebar .vl,#sidebar hr,#sidebar h5,#sidebar ul:last-of-type,#sidebar span, #crea{
        display: none;
    }
    #main_player{
        padding: 0 10px 0 20px;
    }
    #upgrade{
        width: calc(100% - 46px);
    }
    .playlist{
        width: 190px;
    }
    #sidebar div:last-child a{
        margin-top: 15px;
    }
}