/* Stili generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

:root{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* Stili wrapper_up */
#wrapper_up{
    height: calc(100vh - 100px);
    display: flex;
}

/* Stili sidebar */
#sidebar{
    width: 35%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    padding: 20px 20px 0 20px;
    color: gray;
}
#sidebar img:first-child{
    width: 80%;
    margin-bottom: 20px;
}
#sidebar a, hr{
    color: gray;
}
#sidebar ul:last-child li{
    margin-top: 5px;
    margin-bottom: 5px;
} 
#sidebar ul:first-of-type{
    margin-bottom: 20px;
}
#sidebar h5{
    margin-top: -10px;
    margin-bottom: 10px;
}
#sidebar hr{
    margin: -10px 0 13px 0;
}
#sidebar div{
    height: calc(100% - 78px);
}
#sidebar div ul:last-child{
    height: 60%;
    overflow-y: auto;
}
.icon{
    margin: 0px -50px;
    height: 24px;
    vertical-align: -25px;
}
#profile{
    border: 1px solid gray;
    margin: 0;
    border-radius: 50%;
    background-color: gray;
}
.fa-plus{
    color: black;
    border: 1px solid gray;
    background-color: gray;
    padding: 5px;
    margin-right: 5px;
}
#download{
    height: 18px;
}

/* Stili main_player */
#main_player{
    flex-grow: 1;
    background-color: rgb(21, 20, 38);
    padding: 0 5px 0 20px;
}
#main_player hr{
    width: 28px;
    margin-left: 18%;
    color: rgb(195, 255, 0);
    border-top: 2px solid rgb(195, 255, 0);
}
#main_player h3{
    margin: 20px 0 0 0;
}
.row_playlist{
    display: flex;
    flex-wrap: wrap;
}
.playlist{
    width: calc((100% / 6) - 10px);
    text-align: center;
    margin-right: 10px;
}
.playlist img{
    width: 100%;
    margin-bottom: 5px;
    margin-top: 15px;
}
.sottotitolo{
    color: gray;
    margin: 5px;
}

/* Stili upgrade */
#upgrade{
    background-color: rgba(2, 0, 18, 0.6);
    height: 70px;
    text-align: right;
    padding-top: 24px;
    position: fixed;
    top: 0;
    right: 0;
    width: 82.5%;
}
#upgrade a{
    font-size: 12px;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 20px;
    padding: 7px 35px;
    margin-right: 20px;
}

/* Stili nav_bar */
#nav_bar{
    margin-top: 85px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#nav_bar a{
    color: gray;
    font-weight: 800;
}
#nav_bar li{
    display: inline-flex;
    margin: 0 8px 0 8px;
    font-size: 12px;
}




/* Stili controller */
#controller{
    height: 100px;
    background-color: rgb(48, 48, 48);
}